<%= form_with url: workspaces_path, method: :post, local: true do |form| %>
    <h2>Create a new Workspace</h2>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2"><%= form.label :name, "Workspace Name", class: "form-label" %></dt>
        <dd class="col-sm-10">
            <%= form.text_field :name, required: true, class: "form-control", style: "max-width: 400px;" %>
        </dd>

        <dt class="col-sm-2"><%= form.label :workspace_type, "Workspace Kind", class: "form-label" %></dt>
        <dd class="col-sm-10">
            <%= form.select :workspace_type, options_for_select([["Select Workspace Type", ""], ["open", "open"], ["closed", "closed"]]), {}, class: "form-select", style: "max-width: 400px;" %>  </dl>
        </dd>
    </dl>

    <%= form.submit "Create Workspace", class: "btn btn-success mt-3" %>
<% end %>

<%= link_to "Return to Workspace List", root_path, class: "btn btn-secondary mt-3" %>
