<h1>Edit Board</h1>

<%= form_with url: board_path(@board["id"]), method: :patch, local: true do |form| %>
  <div class="mb-3">
    <%= form.label :name, "Board Name", class: "form-label" %>
    <%= form.text_field :name, value: @board["name"], required: true, class: "form-control" %>
  </div>

  <%= form.submit "Update Board", class: "btn btn-success" %>
<% end %>

<%= link_to "Return to Board Details", board_path(@board["id"]), class: "btn btn-secondary mt-3" %>
